*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}




body {
    width: 1024px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

a {

    color: black;
    text-decoration: none;
    transition: all 0.6s ease-in;
}

a:hover {
    color: #0953ff
}

#top {
    display: flex;
}

.btn {

    text-align: center;
    border: 1px solid #0953ff;
    border-radius: 3px;

    padding: 6px 10px;
}

.btn-primary {
    background-color: rgb(67, 113, 252);
    color: white;
    text-align: center;
    border: #0953ff;
    padding: 6px 10px;
    transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    color: white;
    background-color: #0953ff;
}

.logo {
    width: 20%;
    display: block;
}

.menu {
    align-content: center;
    width: 60%;
    display: inline-block;

}

.login {
    width: 20%;
    display: inline-block;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.login a {
    display: block;

}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px 20px;
}

.span3 {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.span5 {
    width: 50%;
    padding-bottom: 120px;
}

.span4 {
    width: 33.33%;
}

.bg-purple {
    background-color: rgb(248, 194, 248);

}

.bg-red {
    background-color: rgb(253, 191, 191);
}

.bg-green {
    background-color: rgb(194, 250, 194);
}

.bg-pink {
    background-color: rgb(243, 193, 243);
}

.text-purple {
    color: purple;

}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-pink {
    color: rgb(224, 29, 143);
}


.row {
    display: flex;
    flex-wrap: wrap;


}

.row>* {
    /*Universal Selector*/
    padding-left: 1em;
    padding-right: 01em;
}

#intro {
    background-image: url('background.png');
    background-size: cover;
    background-position: 100%;
}

.intro-text h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    color: rgb(255, 255, 255);

    margin-top: 80px;
    margin-bottom: 60px;

}

#intro p {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}

#search {
    padding: 10px 30px;
    border: none;
    flex: 1;
    margin-right: 10px;
    border-radius: 3px;
}




.form {
    background-color: white;
    padding: 5px;
    transition: border 0.5s ease;
    display: flex;
    justify-content: space-between;
}

.form:focus-within {
    border: 2px solid #0953ff;
}

.material-symbols-outlined {
    /*Obtained from the google icons*/
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/*Stat Section*/
#stat {
    margin-top: -35px;
    position: relative;
}

.stat-item {
    background-color: #ffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 15px 20px rgb(94, 94, 94, 0.1);
    border: 1px solid #ddd;
}

.stat-icon {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    float: left;
    line-height: 50px !important;
    margin-right: 10px;
    position: relative;
    top: -9px;
}

.stat-item p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.stat-count {
    font-weight: bold;
}

/*About Section*/
#about {
    background-color: rgb(258, 242, 238);
    padding-top: 70px;
    padding-bottom: 70px;
    /*(or) padding: 80px 0*/
    margin-top: -30px;
}

.section-title {
    margin-bottom: 40px;
}

.text-center {
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 600;
}

.section-title p {
    width: 50%;
    margin: auto;
    /*This helps to bring the para element to center of the page*/
    margin-top: 20px;
    color: rgb(50, 50, 50)
}

.about-item {
    background-color: white;
    box-shadow: 10px 15px 20px rgba(94, 94, 94, 0.1);
    padding: 40px;
}

.about-item span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}

.about-item h3 {
    font-size: 20px;

}

.about-item p {
    clear: both;
    /*Clears the effect of float left which is used in above elements*/
    margin-top: 20px;
    color: rgb(50, 50, 50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Courses section*/

#courses {
    background-color: rgb(249, 249, 249);
    padding: 80px 0;
    margin-top: 10px;
}

.section-button {
    float: right;
    margin-bottom: 25px;
    margin-top: 25px;
}

.course-item {
    width: 320px;
    margin-left: 10px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 10px 15px 20px rgba(94, 94, 94, 0.4);
    transition: 0.5s ease;
}

.course-item:hover {
    box-shadow: 12px 20px 20px rgba(94, 94, 94, 0.7);
}

.course-image {
    position: relative;
}

.course-image img {
    width: 100%;
    padding-top: 40px;
    height: 250px;
}

.course-image span {
    position: absolute;
    
    top: 5px;
    left: 5px;
    background-color: rgb(84, 125, 247);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.course-image span:hover {
    background-color: #cb44cb;
}

.course-item h3 {
    margin: 20px auto;
    text-align: center;
    transition: 0.3s;
}

.course-item a:hover {
    color: #cb44cb;
}

.course-info {
    text-align: center;
}

.course-info p {
    display: inline;
    margin-left: 20px;
    align-items: center;

}


.course-price {
    text-align: center;
    border-top: 1px solid #ccc;
    color: #0953ff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
}

.course-price:hover {
    color: #cb44cb;

}

.course-price span {
    font-size: 16px;
    transition: 0.3s;
}

.course-price span {
    color: #0953ff;
}

/*Footer Section*/
footer {
    background-color: rgb(245, 245, 252);
    padding: 80px 0;
}

footer img {
    width: 150px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

.socialmedia ul li {
    display: inline-block;
    margin-right: 10px;
}

.socialmedia ul li a {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 40px;
}

footer h3 {
    margin-bottom: 20px;

}

footer ul li {
    margin-bottom: 10px;

}

.contact-info span {
    color: #0953ff;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.contact-info p {
    display: inline-block;
    margin-bottom: 20px;
}

.socialmedia ul li a:hover {
    background-color: #cb44cb;
    color: white;
}


